@import "../utility/utility";


.fs-media {

	.side-by-side {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media(max-width: $mobile-width) {
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: 1fr;
		}

		img {
			max-height: 405px;
			object-fit: cover;
		}


		

		&.alt {
			grid-template-columns: 31.65% 65.7852%;
			grid-gap: 32px;
		}

		&.single {
			grid-template-columns: 1fr;


			@media(max-width: $mobile-width) {
				grid-template-rows: 1fr;
			}

			img {
				max-height: 810px;
			}
		}

		.module {
			margin-top: 0;
			margin-bottom: 0;
			@media (max-width: $mobile-width) {
				margin-bottom: 32px;
			}
		}
	}

  &.module {
    margin-top: $module-med-spacing;
    margin-bottom: 72px;
  }

  .media--blazy iframe {
    aspect-ratio: 16 / 9;
  }

  @media (max-width: $mobile-width) {
    margin-top: 56px;
		&.container {
			padding: 0;
		}
	}
  

  &.container-fluid, &.container {
    img {
        margin-inline: auto;
        width: 100%;
    }
  }

  .field--type-image {
    float: none !important;
		margin: 0;
		img {
			margin: 0;
			object-fit: cover;
			width: 100%;
		}
  }
  .accordion {
    margin-top: $module-spacing;
  }

  
}

.full-size-media {
	
	@media (max-width: $mobile-width) {
		&.container {
			padding: 0;
		}
	}

	.field--type-image{
		float: none !important;
		margin: 0;
		img {
			margin: 0;
			object-fit: cover;
			width: 100%;
		}
	}

	iframe.media-oembed-content {
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
		aspect-ratio: 16 / 9;
	}

	

    figure {
        text-align: center;
        width: 100%;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

}

$color-button:       #fff;
$color-button-hover: #f00;

.full-bleed {

	&.module {
        margin-top: 72px;
        margin-bottom: 72px;
		@media (max-width: $mobile-width) {
			width: 100%;
			padding: 0;
		}
    }


	.side-by-side {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media(max-width: $mobile-width) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;
		}
	}

	.text-block {
		padding: 72px 96px;
		margin: 0;
		@media (max-width: $mobile-width) {
			padding: 64px 24px;
			// width: calc(100% - var(--bs-gutter-x) * 1.5);
		}
	}

	.blazy__caption {
		display: none;
	}

	.no-descrip {
        .cta-link {
            a { 
                margin-top: 0;
            }
        }
    }

	@include standard-cta-link();

	.section-headline {
        @include heading2();
        color: $color-body;
        margin-bottom: 16px;
		font-weight: 700;
    }

	.descriptionclass, .heading {
		padding-left: 0;
	}

	.section-description {
        @include paragraph();
        color: $color-body;
        margin-bottom: 0;

        p {
            margin: 0;
        }
    }

	.fs-media.container-fluid {
		@media (max-width: $mobile-width) {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}
}
