@import "../utility/utility";


.three-up-item {

    // padding-top: $module-spacing;
    // padding-bottom: $module-spacing;

    &[data-columns] {
        &[data-columns="3"], &[data-columns="4"] {
            grid-gap: 32px;
        }
    }

    .section-headline {
        $font-family: $font-body;
        font-style: normal;
        font-weight: 400;
        @include font-size(24px, 32px);
        line-height: 1.25;
        letter-spacing: 0.5px;
        color: $color-primary;
        text-transform: none;
        margin-bottom: 8px;
        @include media-breakpoint-up(lg) {
            width: 70%;
        }
    }

    p {
        font-family: $font-body;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.375;
        color: $color-black;
    }

}