.business-carousel a:after,
.callout .cta-link a:after,
.collapse-item .cta-link a:after,
.stats .cta-link a:after,
.text-and-image .text-content .cta-link a:after,
.flexible-framer--item a:after,
.cta-logo-showcase .cta-link a:after {
  content: url(/danaher/danaher_src/images/arrow-left.svg) !important;
}

.featured-statement .cta-link a:after {
  content: url(/danaher/danaher_src/images/arrow-white.svg) !important;
}

.region-header ul.menu li.menu-item a.has-menu:after,
.region-event-landing-header ul.menu li.menu-item a.has-menu:after,
.region-primary-menu-mobile ul.menu li.menu-item a.has-menu:after {
  content: "" !important;
  display: block;
  width: 24px;
  height: 15px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyNCAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyIDJMMTIgMTJMMiAyIiBzdHJva2U9IiMzODEzNjAiIHN0cm9rZS13aWR0aD0iNCIvPgo8L3N2Zz4K);
  transform: scale(0.5) rotateX(0deg) !important;
  transition: all 0.3s ease-out;
}
.region-header ul.menu li.menu-item a.menu-open:after,
.region-event-landing-header ul.menu li.menu-item a.menu-open:after,
.region-primary-menu-mobile ul.menu li.menu-item a.menu-open:after {
  transform: scale(0.5) rotateX(180deg) !important;
  transition: all 0.3s ease-out;
}
.region-header ul.menu li.menu-item a:focus::before,
.region-event-landing-header ul.menu li.menu-item a:focus::before,
.region-primary-menu-mobile ul.menu li.menu-item a:focus::before {
  border-color: #7523ff !important;
}
.region-header ul.menu li.menu-item a.menu-open::before,
.region-event-landing-header ul.menu li.menu-item a.menu-open::before,
.region-primary-menu-mobile ul.menu li.menu-item a.menu-open::before {
  width: calc(100% - 24px);
}
.region-header ul.menu li.menu-item a:focus::before,
.region-event-landing-header ul.menu li.menu-item a:focus::before,
.region-primary-menu-mobile ul.menu li.menu-item a:focus::before {
  border-color: #7523ff !important;
}
.region-header ul.menu li.menu-item a.menu-open::before,
.region-event-landing-header ul.menu li.menu-item a.menu-open::before,
.region-primary-menu-mobile ul.menu li.menu-item a.menu-open::before {
  width: calc(100% - 24px) !important;
}

.region-header .info-menu ul.menu li.menu-item a:hover,
.region-event-landing-header .info-menu ul.menu li.menu-item a:hover,
.region-primary-menu-mobile .info-menu ul.menu li.menu-item a:hover,
.region-header ul.menu li.menu-item a:hover,
.region-event-landing-header ul.menu li.menu-item a:hover,
.region-primary-menu-mobile ul.menu li.menu-item a:hover,
#header .region-primary-menu .menu-item a:hover {
  color: #7523ff !important;
}

/* easeOutQuad */
.linked-logo img {
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.linked-logo:hover img {
  transform: scale(1.2);
}

.paragraph--type--flexible-framer-icon-item .section-title {
  font-weight: 600 !important;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.paragraph--type--flexible-framer-icon-item:hover .section-title {
  color: #7523ff !important;
}

.person.node a.cta-link {
  font-size: 20px !important;
  color: #000 !important;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.person.node a.cta-link::after {
  content: url(/danaher/danaher_src/images/arrow-left.svg) !important;
}
.person.node figure {
  overflow: hidden;
}
.person.node figure img {
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.person.node:hover a.cta-link {
  color: #7523ff !important;
}
.person.node:hover a.cta-link::after {
  transform: translateX(10px);
}
.person.node:hover figure img {
  transform: scale(1.15);
}/*# sourceMappingURL=hover-animations.css.map */