.hero--category_hub_page_hero{
  margin-bottom:30px;
}

.hero--category_hub_page_hero .section-header{
  max-width: 60%;
}

.blog-hero-right-side figure, .stats--item, .hero--category_hub_page_hero .text-content, .hero--person .text-content, .hero--person img, .media--image img, .collapse-content img,
.text-and-image img, .paragraph--type--flexible-framer-image-item img, .paragraph--type--linked-logo{
  position: relative;
  opacity: 0;
}

.hero--category_hub_page_hero .text-content{
  transform: translateY(0px);
}

.blog-hero-right-side figure.active, .stats--item.active, .hero--category_hub_page_hero .text-content.active, .hero--person.active .text-content, 
.hero--person.active img, .media--image.active img, .collapse-content.show img, .text-and-image.active img, .paragraph--type--flexible-framer-image-item.active img, .paragraph--type--linked-logo.active{
  opacity: 1;
}

.hero--person .blog-hero-right-side, .paragraph--type--linked-logo{
  display: block;
  position: relative;
  overflow: hidden;
}

.paragraph--type--linked-logo{
  height:150px !important;
}

.hero--person .blog-hero-right-side img{
  max-width:120%;
  width:120%;
  max-height: 120%;
  height:120%;
  transition: all 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.hero--person.active .blog-hero-right-side img{
  max-width: 100%;
  width:100%;
  max-height: 100%;
  height:100%;
}

.paragraph--type--linked-logo img{
  width:60%;  
  max-height:60% !important;
  transition: all .2s ease-in;
}

.paragraph--type--linked-logo:hover img{
  width:70%;    
  max-height:60% !important;
}


.blog-hero-right-side figure.active, .media--image.active img, .collapse-content.show img, .text-and-image.active img, .paragraph--type--flexible-framer-image-item.active img, .paragraph--type--linked-logo.active{
  animation: fade-bottom .5s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.stats--item.active{
  animation: fade-right .5s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}


.hero--category_hub_page_hero .text-content.active, .hero--person.active .text-content{
  animation: fade-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.hero--subcategory-hero.active{
  height:calc(100vh);
  max-height: calc(100vh);
  display: flex;
  align-items: center;  
}

.hero--subcategory-hero figure{
  height:auto !important;
}

.hero--subcategory-hero .image-style-bio-portrait-hero{
  height:500px;
  object-fit: contain;
  transition: all 3s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.hero--subcategory-hero.active .image-style-bio-portrait-hero{
  height:calc(100vh) !important;
  object-fit: cover;
}

.poll .bar .foreground{
  width: 0px;
  transition: width .9s cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

fieldset[data-drupal-selector='edit-choice'] .option:hover{
  background:white !important;
  color:rgb(117, 35, 255) !important;
}

input[data-drupal-selector='edit-vote'], input[data-drupal-selector='edit-result'], input[data-drupal-selector='edit-cancel']{
  opacity: 1;
}

.collapse-trigger:hover{
  color:#4000a5 !important;
}

.collapse-trigger:before{
  transform: rotate(0deg) !important;  
}

.collapse-trigger.collapsed:before{
  transform: rotate(90deg) !important;
}

.collapse--alternate-icon .collapse-trigger:hover:before{
  content:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzE1MzBfNDM1NCkiPgo8cGF0aCBkPSJNMCAxMEgyMCIgc3Ryb2tlPSIjNDAwMGE1IiBzdHJva2Utd2lkdGg9IjMiLz4KPHBhdGggZD0iTTEwIDBMMTAgMjAiIHN0cm9rZT0iIzQwMDBhNSIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxwYXRoIGQ9Ik0xMCAwTDEwIDIwIiBzdHJva2U9IiM0MDAwYTUiIHN0cm9rZS13aWR0aD0iMyIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzE1MzBfNDM1NCI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K) !important; 
}

.collapse--alternate-icon .collapse-trigger:not(.collapsed):before{
  content:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMTBIMjAiIHN0cm9rZT0iIzQwMDBhNSIgc3Ryb2tlLXdpZHRoPSIzIi8+Cjwvc3ZnPgo=) !important;
}



@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
