.hero--category_hub_page_hero{
  margin-bottom:30px;
}

.hero--category_hub_page_hero .section-header{
  max-width: 60%;
}

figure, .stats--item, .card, .hero--category_hub_page_hero .text-content, .hero--person .text-content, .hero--person img{
  position: relative;
  opacity: 0;
}

.hero--category_hub_page_hero .text-content{
  transform: translateY(0px);
}

figure.reveal-active, .stats--item.active, .card.active, .hero--category_hub_page_hero .text-content.active, .hero--person.active .text-content, .hero--person.active img{
  opacity: 1;
}

.hero--person .blog-hero-right-side{
  position: relative;
  overflow: hidden;
}

.hero--person .blog-hero-right-side img{
  max-width:120%;
  width:120%;
  max-height: 120%;
  height:120%;
  transition: all .5s ease-in;
}

.hero--person.active .blog-hero-right-side img{
  max-width: 100%;
  width:100%;
  max-height: 100%;
  height:100%;
}

.reveal-active{
  animation: fade-bottom .5s ease-in;
}

.stats--item.active{
  animation: fade-right .5s ease-in;
}

.hero--category_hub_page_hero .text-content.active, .hero--person.active .text-content{
  animation: fade-top .5s ease-in; 
}

.hero--subcategory-hero.active{
  height:calc(100vh);
  max-height: calc(100vh);
  display: flex;
  align-items: center;  
}

.hero--subcategory-hero figure{
  height:auto !important;
}

.hero--subcategory-hero .image-style-bio-portrait-hero{
  height:500px;
  object-fit: contain;
  transition: all 3s ease-out;
}

.hero--subcategory-hero.active .image-style-bio-portrait-hero{
  height:calc(100vh) !important;
  object-fit: cover;
}

.poll .bar .foreground{
  width: 0px;
  transition: width .9s ease-out;
}

fieldset[data-drupal-selector='edit-choice'] .option:hover{
  background:white !important;
  color:rgb(117, 35, 255) !important;
}

input[data-drupal-selector='edit-vote'], input[data-drupal-selector='edit-result'], input[data-drupal-selector='edit-cancel']{
  opacity: 1;
}




@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-top {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
